#main {
    position: absolute;
    display: flex;
    /* margin: auto; */
    top: 5.1rem;
    left: 10vw;
    width: 60vw;
    height: 90vh;
}
/* ------ */
.main__nav {
    /* position: absolute; */
    position:fixed;
    width: 12vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    border-right: 1px solid rgba(128, 128, 128, 0.150);
}

.main-nav__li {
    
    /* display: flex; */
    /* flex-direction: column; */
    margin-top: 3rem;
} 

.main-nav__li > a > p{
    margin: 0.8rem;
}

.main-nav__li > a {
    display: flex;
    color: rgba(128, 128, 128, 1);
    
}
/* ------ */
.main_header {
    position: absolute;
    display: flex;
    left: 12vw;
    width: 50vw;
    height: 10rem;

    /* background-color: red; */
    border-bottom: 1px solid rgba(128, 128, 128, 0.150);
    justify-content:space-between;
    align-items: center;
}

.main_header > h1 {
    color: #035f4bc7;
    font-size: 3.2rem;
    font-weight: 400;
    margin-left: 1vw;
}
.main_header > button {
    width: 15rem;
    height: 4rem;
    background-color: #12d0a741;
    border: 1px solid #035f4bc7;
    border-radius: 5px;
    margin-right: 1vw;
    
}

.main_header > button > a {
    color: #000;
}


@media screen and (max-width: 700px) {
    .main-nav__li > a > p {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .main_header > h1 {
        font-size: 2.4rem;
        font-weight: bolder;
    }
}